
.row
  padding: 40px
  display: flex
  justify-content: center
  align-items: center

.col-12
  max-width: 1400px

.container
  max-width: 2000px
  overflow: hidden

.containerBlur
  filter: blur(4px)

.center
  display: flex
  justify-content: center
  align-items: center
.row
  span
    font-weight: 700
    font-size: 30px
    display: block
    color: white
    width: 50px
    height: 50px
    border-radius: 50px
    background-color: #F1588A
    text-align: center

h1
  font-weight: 800
  font-size: 45px
  background-color: #2AA5A0
  line-height: 130%
  background-image: linear-gradient(270deg, #C5436B 4.87%, #AA24AC 47%, #0689FF 100%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  text-transform: uppercase

h2
  font-weight: 800
  font-size: 40px
  line-height: 47px
  padding: 40px 0
  color: #313131
  text-transform: uppercase

h3
  text-transform: uppercase

p
  font-weight: 400
  font-size: 17px
  line-height: 26px
  color: #342F55

.slider
  display: flex
  overflow: hidden
  align-items: center
  height: 450px
  width: 550px
  .slick-list
    overflow: hidden
    padding: 0 35% 0 2%
  .slick-track
    transition-duration: 0.5s
    display: flex
    gap: 50px
    overflow: hidden
    height: 550px
    align-items: center
  .slick-slide
    position: relative
    width: 320px
    height: 370px
    border-radius: 25px
    transition-duration: 0.5s
  .slick-active
    transform: translate(0, -15px)
    transition-duration: 1.5s
.content
  display: flex
  gap: 50px
  .slick-next
    background: url(../img/otherIcons/Arrow.svg) 0 0 no-repeat
    padding: 5px 10px
    font-size: 0px
    border: 0
    position: relative
  .slick-prev
    background: url(../img/otherIcons/Arrow.svg) 0 0 no-repeat
    transform: rotate(180deg)
    padding: 5px 10px
    font-size: 0px
    border: 0
    position: relative

.navbar
  padding: 0 !important
  background-color: #F5E8F1 !important
.container-fluid
  max-width: 2000px !important
.nav-phone
  line-height: 16px
  text-align: center
.nav-socialMedia
  display: flex
  gap: 15px
.nav-number
  font-size: 14px
  font-weight: 700
.nav-btn
  width: 135px
  height: 35px
  background-color: #F5E8F1
  border: 2px solid #7148CA
  border-radius: 30px
  font-size: 12px
  font-weight: 700
  transition-duration: 0.5s
  &:hover
    background-color: #7879F1
    color: white
    border: 0

.header
  background: rgba(188, 102, 160, 0.15)
.header__btn
  transition-duration: 0.5s
  p
    font-size: 10px
  &:hover
    background: #7148CA
.header__container
.header__row
  padding: 80px 0
  h1
    padding-bottom: 20px
    margin: 0
  p
    padding: 0
    margin: 0
.modal-header
  align-self: end
  border: 0
.modal__socialMedia
  display: flex
  gap: 15px
  justify-content: center
  margin-bottom: 25px
  img
    width: 25px !important

.modal-content
  overflow: hidden
  border-radius: 30px
  background: url(../img//otherIcons//popUp.svg), #fff
  background-repeat: no-repeat
  background-size: cover
  background-position: top 100px right 450px
  display: flex
  flex-direction: column
  align-items: center
  gap: 20px
.close
  background: url(../img/otherIcons/cancel.svg) 0 0 no-repeat
  width: 35px
  height: 35px
  border: 0
  transition-duration: 0.4s
  &:hover
    transform: scale(1.1)
.contacts-modal-body
  gap: 10px !important
  text-align: center
.modal-body
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: end
  width: 50%
  gap: 40px
  .tel
    display: flex
    img
      width: 25px !important
  img
    width: 338px
  p
    font-size: 28px
  h2
    font-size: 50px
    padding: 0
.header__main
  max-width: 560px
  min-width: 300px
.header__form
  width: 520px
.header__formFlex
  height: 55px
  border: 2px solid #7879F1
  border-radius: 25px
  margin: 20px 0
  input
    width: 65%
    border-radius: 23px 0 0 23px
    border: 0
  button
    width: 40%
    border-radius: 0 22px 22px 0
    background: #7879F1
    border: 0
    p
      position: relative
      bottom: 4px
      color: white
      font-weight: 600
      font-size: 16px
      line-height: 55px
.header__other
  width: 560px
  overflow: hidden
.card
  width: 320px
  border-radius: 25px
  border: 0
  box-shadow: -1.57556px 4.20149px 15px rgba(0, 0, 0, 0.15)
.card-body
  padding: 20px 40px
  width: 320px
.card-buy
  font-weight: 400
  font-size: 0.8em
  opacity: 40%
.header__card-img-item
  img
    width: 240px
.header__card-img-star
  position: relative
  bottom: 30px
.header__card-text
  position: relative
  bottom: 30px
  font-weight: 400
  font-size: 1em
.form-check-input
  cursor: pointer

.clients
.clients__row
  padding: 100px 0

.clients__blocks
  padding: 40px 0
.clients__blockActive
  background: linear-gradient(90.15deg, #7AC8FF 0.11%, #547BED 50.02%, #FF719D 99.85%)
.clients__block
  min-height: 190px
  min-width: 200px
  max-width: 350px !important
  display: flex
  justify-content: center
  align-items: center
  border-radius: 30px
  box-shadow: -0.471052px 0.471052px 7px rgba(102, 76, 117, 0.3)
.clients__blockInfo
  width: 97%
  min-height: 180px
  display: flex
  flex-direction: column
  justify-content: center !important
  align-items: center
  border-radius: 26px
  background-color: #fff
  p
    font-weight: 500
    font-size: 18px

.services
  background: #FBFAFE
.services__container
  overflow: hidden
.services__row
  padding: 60px 0
  .col-12
    min-height: 700px
    position: relative
.services__bgcImg
  z-index: 1
  position: absolute
.services__bgcImg1
  left: -60px
  top: 0
.services__bgcImg2
  right: -220px
  bottom: -20px

.services__blocks
  z-index: 2
  max-width: 1400px
  gap: 70px
.services__block
  width: 300px
  min-height: 150px
  box-shadow: -0.471052px 0.471052px 7px rgba(102, 76, 117, 0.3)
  border: 2px solid #6E679C
  border-radius: 30px
  background-color: #17022D
  justify-content: start
  padding-left: 30px
  p
    text-align: start
    margin-right: 0 !important

    max-width: 160px
    color: white
    margin: 20px
    font-size: 18px
    font-weight: 600
.services__blockActive
  background-color: white
  p
    color: black

.partner
.partner__row
  padding: 100px 0
  .col-12
    min-height: 600px
    border: 3px solid #DBCAE7
    border-radius: 36px
    position: relative
.partner__header
  margin-top: 30px
  margin-bottom: 80px
  gap: 10px
  justify-self: start
  h2
    color: #F1588A
    text-transform: capitalize
.partner__imgCart
  position: absolute
  top: -50px
  right: -30px
.partner__logo
  position: absolute
  bottom: -50px
  width: 230px
  background-color: #fff
.partner__blocks
  margin-bottom: 50px
  max-width: 900px
  flex-wrap: wrap
  gap: 90px

.work
  position: relative
.work__bgc
  width: 100%
  height: 100%
  position: absolute
  background: radial-gradient(44.6% 52.87% at 58.04% 52.87%, rgba(136, 136, 136, 0.3) 0%, rgba(234, 234, 234, 0.3) 50%, rgba(241, 88, 138, 0.12) 100%)
  filter: blur(24px)
.work__container
  position: relative
.work__header
  margin-top: 30px
  margin-bottom: 80px
.work__blocksMain
  position: relative
  width: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  padding-bottom: 80px
.work__blocks
  display: flex
  width: 80%
  gap: 150px
.work__blocks1
  align-self: end
  justify-content: end
  border-radius: 0 140px 140px 0
  border-top: 2px solid #F1588A
  border-right: 2px solid #F1588A
  border-bottom: 2px solid #F1588A
  .work__block
    right: 130px
.work__blocks2
  position: relative
  bottom: 1.5px
  align-self: start
  justify-content: start
  border-radius: 140px 0 0 140px
  border-top: 2px solid #F1588A
  border-left: 2px solid #F1588A
  border-bottom: 2px solid #F1588A
  .work__block
    left: 100px

.work__block
  position: relative
  flex-direction: column
  justify-content: start
  bottom: 25px
  margin-bottom: 30px
  p
    font-size: 14px
  h3
    font-size: 18px
    font-weight: 700

.competency
  .container
    flex-direction: column
.competency__row2
  position: relative
  overflow: hidden

.interection__header
  position: relative
  margin: 80px
  margin-left: 110px
  h2
    padding: 0
    padding-bottom: 20px
    font-weight: 400
    font-size: 60px
    max-width: 800px
    line-height: 120%

  span
    position: absolute
    left: -70px
    top: 15px
.interection__row
  width: 100%
  .col-12
    flex-direction: column !important
.interection__blocks
  z-index: 1
  max-width: 1400px
  gap: 60px
.interection__block
  width: 40%
  min-height: 180px
  padding: 30px
  border: 1px solid #F1588A
  border-radius: 30px
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1)
  h3
    margin-bottom: 13px
  li
    list-style: url('../img/otherIcons/checks.svg')
.interection__bgc
  position: absolute
  z-index: 2
.interection__bgc1
  top: 25%
  left: -40px
.interection__bgc2
  right: -150px
  top: 50%
.confidence__row
  background: linear-gradient(90.15deg, #7AC8FF 0.11%, #547BED 50.02%, #FF719D 99.85%)
  padding: 4px 0 4px 0
  margin-bottom: 100px
  .col-12
    padding: 80px 130px
    background-color: #fff
    justify-content: space-between
.confidence__header
  width: 45%
  h2
    padding: 0
    font-weight: 700
  .confidence__headerNumber
    font-size: 80px !important
    font-weight: 700 !important
    line-height: 100% !important
    background-image: linear-gradient(180deg, #F35687 0%, #2960E9 53.12%, #4DB5FF 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.confidence__slider
  overflow: hidden
  min-width: 400px
  flex-direction: column
  gap: 50px
  .slick-list
    overflow: hidden
    height: 220px !important
    padding: 0 !important
  .slick-arrow
    z-index: 1
    font-size: 0
    border: 0
    width: 45px
    height: 20px
  .slick-next
    background: url(../img/otherIcons/Arrow2.svg) 0 0 no-repeat
    transform: rotate(180deg)
    position: relative
    bottom: 20px
  .slick-prev
    background: url(../img/otherIcons/Arrow2.svg) 0 0 no-repeat
.confidence__block
  height: 80px
  width: 100%
  display: flex
  gap: 50px
  img
    max-width: 130px
    max-height: 30px

.footer
  background-color: #171717
  color: #B6B6B6
  a
    color: #B6B6B6
    text-decoration: none
.footer__container
  flex-direction: column
.footer__row
  width: 100%
  .col-12
    align-items: start
    justify-content: space-between
    gap: 50px
    h2
      font-weight: 500
      font-size: 25px
      color: #DBDBDB
.footer__rowMain
  padding-top: 100px
  padding-bottom: 0
.footer__menuList
  display: flex
  gap: 50px
  ul
    display: flex
    flex-direction: column
  li
    list-style: none
.footer__menuList2
  ul
    gap: 35px
.footer__menuList1
  ul
    gap: 15px
    padding: 0
    margin: 0
.footer__logo
  text-align: center
  img
    width: 220px
    opacity: 40%
.footer__rowContacts
  padding-bottom: 100px
  .col-12
    display: flex
    align-items: center
    justify-content: space-between
.footer__contacts
  display: flex
  gap: 40px
  div
    display: flex
    gap: 10px
    p
      color: #B6B6B6
      margin: 0
.footer__socialMedia
  display: flex
  gap: 25px

@media screen and (max-width:1200px)
  .footer__logo
    margin: auto
    img
      width: 200px
    h2
      display: none
  .confidence__row
    .col-12
      flex-direction: column
      gap: 30px
      text-align: center
      padding: 120px 0
      height: 100%
      h2
        font-weight: 500
        font-size: 30px
  .confidence__header
    width: 70%
  .confidence__slider
    width: 100%
  .work__blocks1
    .work__block
      right: 90px
  .services__bgcImg1
    left: -200px
  .services__bgcImg2
    bottom: -100px
  .services__blocks
    gap: 10px
  .header
  .header__other
    width: 100%
@media screen and (max-width:1060px)
  .partner__header
    h2
      display: none
  .work__block
    span
      margin-bottom: 0
@media screen and (max-width:1000px)
  .modal-content
    background-position: top 100px right 350px
  .nav-number
    display: none
  .nav-socialMedia
    margin-right: 20px
  .interection__block
    width: 80%
  .work__blocksMain
    gap: 30px
  .work__blocks
    width: 100%
    flex-wrap: wrap
    align-self: start
    align-items: center
    justify-content: center
    flex-direction: column
    gap: 30px
    border: 0
  .work__block
    margin: 0
    max-width: 60%
    bottom: 0
    right: 0 !important
    left: 0 !important
    gap: 15px
    span
      border-radius: 0
@media screen and (max-width:790px)
  .navbar-brand
    img
      width: 83px
@media screen and (max-width:768px)
  .modal-body
    img
      width: 200px
  .nav-number
    display: block
  .nav-socialMedia
    margin-right: 0
  .footer__rowMain
    .col-12
      flex-direction: column
  .footer__logo
    h2
      display: block
  .footer__menuList2
    margin: auto
    text-align: center
    ul
      padding: 0
      margin: 0
  .footer__rowContacts
    .col-12
      flex-direction: column
  .footer__menuList1
    display: none
  .interection__bgc
    display: none
  h1
    font-weight: 700
    font-size: 35px
  h2
    font-weight: 600
    font-size: 25px !important
    line-height: 45px
  h3
    font-weight: 500 !important
    font-size: 18px !important
    line-height: 30px
  p, li
    font-weight: 400 !important
    font-size: 14px !important
  h6
    font-size: 11px
  .clients__row
    padding: 0
  .services__block
    min-height: 120px
  .services__row
    padding: 50px
  .competency__header
    h2
      padding: 0
  .partner__row
    padding: 140px 0
@media screen and (max-width:700px)
  .partner__blocks
    gap: 30px
  .content
    display: none
  .slider
    height: 350px
    width: 350px
    .slick-list
      padding: 0 30% 0 2%
    .slick-track
      overflow: hidden
      height: 400px
      gap: 20px
    .slick-slide
      position: relative
      width: 240px
      height: 220px
  .card
    font-size: 11px
    width: 200px
  .card-body
    width: 240px
    height: 220px
    text-align: center
  .card-buy
    text-align: start
  .header__card-img-item
    img
      width: 100px
  .header__card-img-star
    top: 0
  .header__card-text
    top: 0
    text-align: start
  .header__form
    width: 100%
  .services__blocks
    gap: 40px
@media screen and (max-width:450px)
  .modal-body
    width: 70%
  .modal-content
    background-position: top 100px right 250px
  .confidence__row
    margin: 0 0 100px 0
  h2
    font-weight: 500
    font-size: 20px !important
    line-height: 25px
  h3
    font-weight: 400 !important
    font-size: 17px !important
    line-height: 20px
  p, li
    font-weight: 300 !important
    font-size: 13px !important
  h6
    font-size: 9px !important
  .interection__header
    margin: 0 0 50px 0
    h2
      padding: 0
      margin: 0 0 20px 0
    span
      display: none
  .interection__blockCond
    li
      padding: 5px
  .interection__block
    width: 100%
  .partner
    margin: 100px 0
  .work__header
    margin-top: 0
  .partner__imgCart
    right: 10px
  .services__bgcImg
    display: none
  .service__header
    margin-bottom: 50px !important
  .row
    padding: 60px 0
  .form-control
    font-size: 13px
  .form-check-label
    font-size: 10px
  .confidence__row
    padding: 4px 0
    .col-12
      padding: 50px 0
  .confidence__slider
    min-width: 300px
  .work__block
    max-width: 100%
    span
      display: block
      top: 0
      left: 0
