.row {
  padding: 40px;
}

.container {
  max-width: 2000px;
  overlow: hidden;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-weight: 800;
  font-size: 45px;
  background-color: #2AA5A0;
  line-height: 130%;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(4.87%, #C5436B), color-stop(47%, #AA24AC), to(#0689FF));
  background-image: linear-gradient(270deg, #C5436B 4.87%, #AA24AC 47%, #0689FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
  padding: 40px 0;
  color: #313131;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #342F55;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 450px;
  width: 550px;
}

.slick-list {
  overflow: hidden;
  padding: 0 35% 0 2%;
}

.slick-track {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  overflow: hidden;
  height: 550px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-slide {
  position: relative;
  width: 320px;
  height: 370px;
  border-radius: 25px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.slick-active {
  -webkit-transform: translate(0, -15px);
          transform: translate(0, -15px);
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.slick-next {
  background: url(../img/otherIcons/Arrow.svg) 0 0 no-repeat;
  padding: 5px 10px;
  font-size: 0px;
  border: 0;
  position: relative;
}

.slick-prev {
  background: url(../img/otherIcons/Arrow.svg) 0 0 no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding: 5px 10px;
  font-size: 0px;
  border: 0;
  position: relative;
}

.navbar {
  padding: 0 !important;
  background-color: #F5E8F1 !important;
}

.container-fluid {
  max-width: 2000px !important;
}

.nav-phone {
  line-height: 16px;
  text-align: center;
}

.nav-socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.nav-number {
  font-size: 14px;
  font-weight: 700;
}

.nav-btn {
  width: 135px;
  height: 35px;
  background-color: #F5E8F1;
  border: 2px solid #7148CA;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
}

.header {
  background: rgba(188, 102, 160, 0.15);
}

.header__row {
  padding-right: 0;
  padding-bottom: 120px !important;
}

.header__row h1 {
  padding: 40px 0;
  margin: 0;
}

.header__row p {
  padding: 0 0 60px 0;
  margin: 0;
}

.header__main {
  max-width: 560px;
  min-width: 300px;
}

.header__form {
  width: 520px;
}

.header__formFlex {
  height: 55px;
  border: 2px solid #7879F1;
  border-radius: 25px;
}

.header__formFlex input {
  width: 60%;
  border-radius: 23px 0 0 23px;
  border: 0;
}

.header__formFlex button {
  width: 40%;
  border-radius: 0 22px 22px 0;
  background: #7879F1;
  border: 0;
}

.header__formFlex button p {
  position: relative;
  bottom: 4px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 55px;
}

.header__other {
  width: 560px;
}

.card {
  width: 320px;
  border-radius: 25px;
  border: 0;
  -webkit-box-shadow: -1.57556px 4.20149px 15px rgba(0, 0, 0, 0.15);
          box-shadow: -1.57556px 4.20149px 15px rgba(0, 0, 0, 0.15);
}

.card-body {
  padding: 20px 40px;
  width: 320px;
}

.card-buy {
  font-weight: 400;
  font-size: 0.8em;
  opacity: 40%;
}

.header__card-img-item img {
  width: 240px;
}

.header__card-img-star {
  position: relative;
  bottom: 30px;
}

.header__card-text {
  position: relative;
  bottom: 30px;
  font-weight: 400;
  font-size: 1em;
}

.clients__blocks {
  padding: 40px 0;
}

.clients__blockActive {
  background: linear-gradient(90.15deg, #7AC8FF 0.11%, #547BED 50.02%, #FF719D 99.85%);
}

.clients__block {
  min-height: 190px;
  min-width: 200px;
  max-width: 350px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  -webkit-box-shadow: -0.47105px 0.47105px 7px rgba(102, 76, 117, 0.3);
          box-shadow: -0.47105px 0.47105px 7px rgba(102, 76, 117, 0.3);
}

.clients__blockInfo {
  width: 97%;
  min-height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 26px;
  background-color: #fff;
}

.clients__blockInfo p {
  font-weight: 500;
  font-size: 18px;
}

.services {
  background: #FBFAFE;
}

.services__container {
  overflow: hidden;
}

.services__row .col-12 {
  min-height: 700px;
  position: relative;
}

.services__bgcImg {
  z-index: 1;
  position: absolute;
}

.services__bgcImg1 {
  left: -60px;
  top: 0;
}

.services__bgcImg2 {
  right: -220px;
  bottom: -20px;
}

.services__blocks {
  z-index: 2;
  max-width: 1400px;
  gap: 70px;
}

.services__block {
  width: 300px;
  min-height: 150px;
  -webkit-box-shadow: -0.47105px 0.47105px 7px rgba(102, 76, 117, 0.3);
          box-shadow: -0.47105px 0.47105px 7px rgba(102, 76, 117, 0.3);
  border: 2px solid #6E679C;
  border-radius: 30px;
  background-color: #17022D;
}

.services__block p {
  text-align: start;
  margin-right: 0 !important;
  max-width: 160px;
  color: white;
  margin: 20px;
  font-size: 18px;
  font-weight: 600;
}

.services__blockActive {
  background-color: white;
}

.services__blockActive p {
  color: black;
}

.partner__row {
  padding-top: 150px;
}

.partner__row .col-12 {
  max-width: 1400px;
  min-height: 600px;
  border: 3px solid #DBCAE7;
  border-radius: 36px;
  position: relative;
}

.partner__header {
  margin-top: 30px;
  margin-bottom: 80px;
  gap: 10px;
  -ms-grid-column-align: start;
      justify-self: start;
}

.partner__header h2 {
  color: #F1588A;
  text-transform: capitalize;
}

.partner__imgCart {
  position: absolute;
  top: -50px;
  right: -30px;
}

.partner__logo {
  position: absolute;
  bottom: -50px;
  width: 230px;
  background-color: #fff;
}

.partner__blocks {
  margin-bottom: 50px;
  max-width: 900px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 90px;
}

.work {
  position: relative;
}

.work__bgc {
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(44.6% 52.87% at 58.04% 52.87%, rgba(136, 136, 136, 0.3) 0%, rgba(234, 234, 234, 0.3) 50%, rgba(241, 88, 138, 0.12) 100%);
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.work__container {
  position: relative;
}

.work__row .col-12 {
  max-width: 1400px;
}

.work__blocksMain {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  gap: 150px;
}

.work__blocks1 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border-radius: 0 140px 140px 0;
  border-top: 2px solid #F1588A;
  border-right: 2px solid #F1588A;
  border-bottom: 2px solid #F1588A;
}

.work__blocks1 .work__block {
  right: 130px;
}

.work__blocks2 {
  position: relative;
  bottom: 1.5px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-radius: 140px 0 0 140px;
  border-top: 2px solid #F1588A;
  border-left: 2px solid #F1588A;
  border-bottom: 2px solid #F1588A;
}

.work__blocks2 .work__block {
  left: 100px;
}

.work__block {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  bottom: 25px;
  height: 220px;
  margin-bottom: 30px;
}

.work__block p {
  font-size: 14px;
}

.work__block h3 {
  font-size: 18px;
  font-weight: 700;
}

.work__block span {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 30px;
  display: block;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #F1588A;
  text-align: center;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 15px;
  }
  h6 {
    font-size: 11px;
  }
  .navbar-brand img {
    width: 63px;
    height: 38px;
  }
}

@media screen and (max-width: 1200px) {
  .work__blocks1 .work__block {
    right: 90px;
  }
  .services__bgcImg1 {
    left: -200px;
  }
  .services__bgcImg2 {
    bottom: -100px;
  }
  .services__blocks {
    gap: 10px;
  }
  .header__other {
    width: 100%;
  }
}

@media screen and (max-width: 1060px) {
  .partner__header h2 {
    display: none;
  }
  .work__block span {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1000px) {
  .work__blocks {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0;
  }
  .work__blocks .work__block {
    position: relative;
    margin: 0;
    max-width: 50%;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .work__blocks .work__block span {
    position: absolute;
    top: 50px;
    left: -50%;
  }
}

@media screen and (max-width: 700px) {
  .partner__blocks {
    gap: 30px;
  }
  .content {
    display: none;
  }
  .slider {
    height: 350px;
    width: 350px;
  }
  .slick-list {
    padding: 0 30% 0 2%;
  }
  .slick-track {
    overflow: hidden;
    height: 400px;
    gap: 20px;
  }
  .slick-slide {
    position: relative;
    width: 240px;
    height: 220px;
  }
  .card {
    font-size: 11px;
    width: 200px;
  }
  .card-body {
    width: 240px;
    height: 220px;
    text-align: center;
  }
  .card-buy {
    text-align: start;
  }
  .header__card-img-item img {
    width: 100px;
  }
  .header__card-img-star {
    top: 0;
  }
  .header__card-text {
    top: 0;
    text-align: start;
  }
  .header__form {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .partner {
    margin: 80px 0;
  }
  .partner__imgCart {
    right: 10px;
  }
  .services__bgcImg {
    display: none;
  }
  .row {
    padding: 0;
  }
  .form-control {
    font-size: 13px;
  }
  .header__btn p {
    font-size: 10px;
  }
  .form-check-label {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */